* {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: Arial;
  }

  
  header, footer {
    background-color: gray;
    color: white;
}

.bar , main {
  width: 70%;
  margin: 0 auto;
}

  header form {
    direction: ltr;
    text-align: left;
    padding: 10px;
  }

  /* .home-icon {
    width: 46px;
    height: 44px;
    background: url(img_navsprites.gif) 0 0;
  } */

  nav > ul {
    list-style: none;
    display: inline-block;

  }
  
  li {
    display: inline-block;
    border-right: solid white 1px;
  }

  a {
   color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }

  .col {
    float: right;
  }

  .up-bar-menu {
    /* position: relative; */
    /* float: right; */

  }

  /* nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: solid black 5px;
  } */

  main:after {
    content: "";
    display: table;
    clear: both;
  }