* {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: 'Arial (Hebrew)', Arial;  
  }

  
  header, footer {
    background-color: gray;
    color: white;
}

.bar , main {
  width: 80%;
  margin: 0 auto;
}

  header form {
    direction: ltr;
    text-align: left;
    padding: 10px;
  }

  footer .bar {
    font-size: em1;
  }

  /* .home-icon {
    width: 46px;
    height: 44px;
    background: url(img_navsprites.gif) 0 0;
  } */

  nav > ul {
    list-style: none;
    display: inline-block;

  }
  
  li {
    display: inline-block;
    border-right: solid white 1px;
  }

  a {
   color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }



  .row1 > .col, .row2 > .col {
    float: right;

  }

  .row1 > .col {
    position: relative;

  }

  .row1 > .col > img {
    margin: 5px;
    border-radius: 0px 0px 20px 0px;
    min-height: 65px;
  }

  .pbody {
    position: absolute;
    bottom: 25px; 
    right: 10px;
    background-color: grey;
    color: white;
    border-radius: 0px 0px 10px 0px;
    padding; 5px;
    font-size: 10px;
    margin: 15px;
  } 

  .pheadline
  {
    font-size: 12px;
   font-weight: bold;
  } 

  .pfooter
  {
   font-weight: underline;
   text-align: left;

  } 


  .up-bar-menu {
    /* position: relative; */
    /* float: right; */

  }

  /* nav > ul > li > a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border: solid black 5px;
  } */

  footer {
    float: fixed;
  }

  main:after {
    content: "";
    display: table;
    clear: both;
  }

  .row1:after {
    content: "";
    display: table;
    clear: both;
  }

  .col:after {
    content: "";
    display: table;
    clear: both;
  }
  .cont-sue {
    color: red;
  }