* {
    box-sizing: border-box;
    direction: rtl;
    text-align: right;
    margin: 0;
    padding: 0;
    font-family: 'Arial (Hebrew)', Arial;  
  }
 
  [class^="row"]::after {
    content: "";
    display: table;
    clear: both;
  }
  
  [class^="col"] {
    float: right;  
  }

  header, footer {
    background-color: gray;
    color: white;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bar , main {
  width: 80%; /* why it's not the same */
  margin: 0 auto;
}

main {
  padding-bottom: 30px;
}

header .bar {
  font-size: 15px;
}

  header form {
    direction: ltr;
    text-align: left;
    padding: 10px;
  }

  footer .bar {
    font-size: 14px;
  }

  nav > ul {
    list-style: none;
    display: inline-block;

  }
  
  li {
    display: inline-block;
    border-right: solid white 1px;
  }


  header a, footer a  {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-align: center;
  }

 main .row1 a {
      color: white;
      text-decoration: underline;
  }
  
  main .row2 a {
    color: black;
    text-decoration: underline;
  }

  .row1 > .col, .row2 > .col {
    float: right;
  }

  .row1 > .col {
    position: relative;
  }

  .row1 > .col > img {
    margin: 5px;
    border-radius: 0px 0px 20px 0px;
    min-height: 65px;
  }
  
  .pheadline
  {
    font-size: 12px;
    font-weight: bold;
  } 

  .pfooter {
   font-weight: underline;
   text-align: left;
  } 

  main:after {
    content: "";
    display: table;
    clear: both;
  }

  .row1 .col {
    height: 355px;
  }
  .row2 .col {
    margin-top: 10px;
    margin-left: 20px;
  }

  .row1 .pbody {
    position: absolute;
    bottom: 5px; 
    right: 5px;
    background-color: grey;
    color: white;
    border-radius: 0px 0px 10px 0px;
    padding: 5px;
    font-size: 10px;
    margin: 15px;
  } 

  .row2 .col  {
    position: relative;
    color: black;

  }

  .row2  .col .hdr {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 34px;
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px;
    }

  .row2  .col .sub-pic {
  position: absolute;
  top: 30px;
  margin-top: 18px;
  color: #575757;
  height: 100px;
  padding-right: 15px;
  }

  .row2  .col .ftr {
    position: absolute;
    bottom: 5px;
    left: 0px;
  }


  .row2 .ftr a {
    margin-top: 28px;
    padding: 30px;
    font-size: 12px;
  }

  .row2 .sub-pic .pic3 {
    direction: ltr;
  }

  a:hover  {
    color: blue; /*why it' not working on the main's links */
    text-decoration: underline;
  }

  .row1-1  {
    display: inline-block;
    color: blue;
  }

  .form-item {
    margin-bottom: 5px;
  } 


  [class^="row2"] .col1 {
    width: 10%;
  }

  [class^="row2"] .col2 {
    margin: 20px;
  }

  [class^="row2"] .col3 {
    margin: 20px;
  }


  .row2-2 form, .col3 > .row {
    background-color: lightgray; 
    border-radius: 0px 10px 0px 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .row2-2 form {
    border-style: solid solid none solid;
    border-width: 1px;
    border-color: #CCCCCC;
    width: 347px;
    min-height: 332px;
    padding: 12px 18px;
  }

  .row2-1  {
    line-height: 32px;
    color: #5c5c5c;
  }

  .row2-1  > .col1 > a {
    font-size: 13px;
    background-color: lightgray;
    margin-bottom: 4px;
    text-decoration: none;
  }

  .row2-1  > .col2  {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .row2-1  > .col2 > a {
    text-decoration: none;
  }
  
  .row2-2  > .col1 {
    color: white;
  }

  .row2-2  > .col2 h4  {
    color: white;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
    color: #72716d;
  }
  
.row2-2  {
    font-size: 13px;
    padding: 5px;

  }

.row2-2 h3 {
  color: #005ca0;
  font-weight: bold;
  font-size: 15px;
}

.row2-2 h4 {
  display: block;
  color: #6d6d6d;
  font-weight: bold;
  line-height: 1.2;
  margin: 5px 0;
}

.row2-2 p {
  color: #6d6d6d;
  line-height: 1.2;
  margin: 5px 0;
}

.row2-2 p, .row2-2 a {
  line-height: 1.2;
}

.row2-2  .col3 .row {
width: 248px;
height: 142px;
padding: 18px 22px 15px;
}

label {
  width: 100px;
  display: inline-block;
}

.font-item {  /*why I cannot center it and how can I make it the same length (only by px?)?*/
color: #6d6d6d;
    width: 235px;
    height: 100px;
    padding: 3px;
    border: 1px solid #808992; 
}

.btn {
  direction: ltr; /*why its not working */
  background-color: blue;
  text-align: left;
  color: white;
}